/* Fuentes */
@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url(../fonts/TitilliumWeb-SemiBold.ttf);
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: F1Bold;
  src: url(../fonts/Formula1-Bold_web_0.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: F1Bold;
  src: url(../fonts/Formula1-Regular_web_0.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
}

/* Estilos generales de texto */
h1,
a,
h3,
h2,
p,
h5 {
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

h1,
h2,
h4 {
  font-weight: bold;
}

a,
h3 {
  font-weight: 400;
}

p,
h5 {
  font-weight: normal;
}

h3 {
  color: black;
}

h4 {
  font-family: F1Bold;
  font-weight: bold;
  color: white;
}

/* Estilos de lista */
li {
  display: inline-block;
}

li>a {
  font-size: 1.2em;
}

/* Estilos de enlaces */
li>a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  display: block;
  padding: 30px;
}

li>a:hover {
  background-color: black;
}

/* Estilos de encabezado */

header {
  background-color: #e10600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin-right: 5%;
}

nav {
  display: flex;
}

/* Estilos del logotipo y encabezado */
.fia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  opacity: 0.6;
}

.fia>h3 {
  opacity: 0.6;
}

.fia>img {
  height: 50px;
  margin: 12px;
  opacity: 0.4;
  width: auto;
}

/* Estilos de la sección de bienvenida */
.bienvenida {
  background-color: rgb(29, 28, 28);
  height: 400px;
  display: flex;
}

.bienvenida h2 {
  font-size: 34px;
}

.bienvenida p {
  font-size: 18px;
}

.bienvenida div {
  margin: auto;
  width: 70%;
}

.bienvenida>img {
  height: 14vw;
  border-radius: 20px;
  margin: auto;
}

/* Estilos de la sección de última carrera */
.top {
  width: 100%;
  background-color: rgb(29, 28, 28);
  border-radius: 5px;
  height: 40px;
  margin: 0 0 10px 0;
  padding: 7px;
  display: flex;
  align-items: center;
}

.piloto-tiempo {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.tiempo {
  font-size: 16px;
  background-color: rgba(244, 244, 244, 0.356);
  border-radius: 20px;
  padding: 2px;
}

.bx {
  font-size: 50px;
}

.polenombre {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 14px;
  margin: auto 0;
}

.circuitoN {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 40px;
}

.circuitoIMG {
  margin-top: 100px;
  width: 25vw;
}

.ultimaCarrera {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 14vw;
}

.contenido-izquierda {
  width: 100%;
  padding: 0 200px;
}

.contenido-derecha {
  width: 20%;
  text-align: center;
}

.centrarIf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.tituloN {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 40px;
  margin-top: 25px;
  text-align: center;
  color: #e10600;
  text-decoration: underline;
}

.tituloNo {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 40px;
  margin-top: 150px;
  padding-top: 40px;
  text-align: center;
  color: white;
  text-decoration: underline;

}

/* Estilos de la sección de noticias */
.noticias {
  background-color: rgb(29, 28, 28);
}

.notiTitulo {
  color: white;
  font-family: F1Bold;
  font-weight: bold;
  font-size: 26px;
}

.art1 {
  padding: 30px;
  width: 70%;
  margin: 40px auto;
  border: 3px solid white;
  border-top: transparent;
  border-left: transparent;
  border-radius: 4px;
  transition: all 1s;
}

.notiDual>article {
  width: 30%;
  padding: 30px;
  margin: 40px;
  border: 3px solid white;
  border-top: transparent;
  border-left: transparent;
  border-radius: 4px;
  transition: all 1s;
}

.art1:hover,
article:hover {
  border-color: #e10600;
  cursor: pointer;
}

.notiI1 {
  text-align: center;
}

.notiI1 img {
  border-radius: 20px;
}

.notiDual {
  width: 50%;
  display: flex;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notiDual img {
  width: 15vw;
}

.art1 h4,
.notiDual>article h4 {
  transition: all 1s;
}

.art1:hover h4,
.notiDual>article:hover h4 {
  color: red;
}

/*Acaba noticias*/
/*Horarios*/
.horarios {
  height: 14vh;
}

.tempo {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin: 90px;
  color: rgb(29, 28, 28);

}

.horarioCM {
  color: black;
  font-family: F1Bold;
}

/*Acaba horarios*/

/*Mini Standing*/
.miniStanding {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}

.stand {
  margin-top: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.listaTop {
  width: 50vw;
  list-style: none;
  padding: 0;
  margin: 25px auto;
}

.standLista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 4px;
  border-radius: 5px;
  position: relative;
  transition: all 0.5s;
}

.standLista:hover {
  background-color: rgb(29, 28, 28);
  color: white;
  cursor: pointer;
}

.standLista h3 {
  font-family: F1Bold;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  margin: 0;
  transition: all 0.5s;
}

.standLista:hover h3 {
  color: white;
}

.standLista h5 {
  font-size: 14px;
  color: #555;
  padding: 3px;
  margin-left: 10px;
}

.standLista p {
  font-size: 14px;
  color: #555;
  background-color: #d5d5d5;
  padding: 3px;
  border-radius: 10px;
  text-align: right;
  margin: 0;
  position: absolute;
  right: 10px;
}

.valLi {
  width: 100%;
  display: flex;
  padding: 10px;
  position: relative;
}

.valLi .separator {
  margin: 0 5px;
}

.btn {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  display: inline-block !important;
  appearance: none;
  border-radius: 5px;
  border: 2px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;
  font-family: "Titillium Web";
  font-size: 13px;
  letter-spacing: .5px;
  font-weight: 600;
  padding: 12px 15px 12px 15px;
  background: #e10600;
  color: #fff;
  margin-top: 20px;
}

.btn:hover {
  background-color: white;
  border: 1px solid #e10600;
  color: black;
}

/*Acaba ministanding*/



/*footer*/
footer {
  background-color: #1d1c1c;
  padding: 20px 0;
  text-align: center;
}

.iconos {
  margin-bottom: 20px;
}

.iconos a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.nav_abajo {
  margin-bottom: 20px;
}

.nav_abajo a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0 15px;
  transition: all 0.3s ease;
}

.nav_abajo a:hover {
  color: #e10600;
}

.logo_copy {
  color: white;
  font-size: 12px;
}

.bx {
  color: white;
  transition: all 0.5s ease;
}

.bx:hover {
  color: #d5d5d5;
}

/*Acaba footer*/

/*ARHCIVO STANDING*/
.link>a {
  text-decoration: none;
}

.stanT {
  margin-top: 0;
}

/*Horarios*/

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.row:hover {
  background-color: #f5f5f5;
  transition: all 1s;
}

.row--details {
  padding: 10px;
  background-color: #f5f5f5;
  display: none;
}

.cell {
  padding: 10px;
  flex: 1;
}

.cell--header {
  font-weight: bold;
  font-family: F1Bold;

}

.cell--content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: F1Bold;
}

.show {
  display: block;
  animation: show 2s ease;
}

.unshow {
  animation: unshow 1s ease;
  display: block;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes unshow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
